!!! 5
%html
  %head
    -# %meta(http-equiv="refresh" content="1")
    %title Projects | ShipReq
    %script{src: "../node_modules/jquery/dist/jquery.min.js"}
    %link{href:  "../semantic/dist/semantic.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "../semantic/dist/semantic.min.js"}
    :css
      body {padding:1rem}
      main {
        margin-top:6rem;
        margin-left:4rem;
        margin-right:4rem;
        display:grid!important;
        grid-template-areas:
          "p g1 g2 u"
          "i g1 g2 ip"
        ;
        grid-template-columns: 1fr 3rem 3rem 1fr;
        row-gap: 6rem;
        min-height: calc(100vh - 10rem);
      }
      main > .gap1 {
        grid-area: g1;
        xborder: solid 1px red;
      }
      main > .gap2 {
        grid-area: g2;
        xborder: solid 1px red;
        border-left: solid 1px #eee;
      }
      #projects {
        grid-area: p;
        xborder: solid 1px red;
      }
      #user-groups {
        grid-area: u;
        xborder: solid 1px red;
      }
      #invs {
        grid-area: i;
        xborder: solid 1px red;
      }
      #inv-pages {
        grid-area: ip;
      }
      .body {
        margin-top: 1.5rem;
      }

      .new-row {
        display: none;
        xtext-align:right;
        margin-top: 2rem;
      }
      .ui.header > .content {
        width:100%;
      }
      .new-right {
        float: right;
      }

      .tree-container {
        xborder: solid 1px red;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        padding:0 2rem;
      }
      .tree {
        xborder: solid 1px red;
        color: #333;
        width: 100%;
        border-collapse: collapse;
      }
      .tree td:not(:first-child) {
        padding-left:3rem;
        text-align: right;
      }
      .tree tr:not(:first-child) td {
        xborder-top:solid 1px #22242626;
      }
      .tree tr:hover td {
        background: #0088ff11;
        cursor:pointer;
      }
      .tree tr td:last-child {
        padding-right: 1ex;
      }
      .tree td {
        white-space: nowrap;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        vertical-align: middle;
      }
      .tree .name {
        xbackground: #ff000020;
        width: 100%;
        font-size: 1.25rem;
      }
      .tree .name i {
        margin-right: 0.4ex!important;
      }
      .tree .updated, .tree .members {
        color: #aaa;
        text-transform: lowercase;
      }
      .tree .lvl1 {
        padding-left: 1ex;
      }
      .tree .lvl2 {
        padding-left: 3.5ex;
      }
      .tree .rel {
        font-size: 1.1rem;
      }
      span.admin {
        color: green;
      }
      span.collab, span.member {
        color: #33b;
      }
      span.read-only {
        color: #963;
      }
      #dead-projects {
        margin-left: 2rem;
      }
      .dead td,
      .dead .updated,
      .dead .rel span {
        color:#bbb;
        text-decoration:line-through;
      }
      .no-link-entity {color:#222}
      #inv-pages .sub table td:first-child {
        text-align:right;
        padding-right: 1ex;
        xpadding-left: 4ex;
      }


  %body

    .ui.menu.borderless.fixed.inverted
      .item
        %img{src: "logo-only-dark2.svg"}
      .item
        .ui.breadcrumb
          .section Dashboard
      .right.menu
        .item.ui.dropdown.simple
          @japgolly
          -# %i.dropdown.icon
          .menu
            %a.item{href: "member-member-account.html"} Account
            .item Logout

    %main
      .gap1
      .gap2

      #projects
        %h2.ui.header
          %i.icon.archive
          -# %i.icon.book
          .content
            Projects
            .new-right
              .ui.labeled.button
                %a.ui.button.green
                  %i.icon.plus
                  New
                .ui.dropdown.label{style: "background-color: #00a632; color: #EEE;"}
                  Project
                  %i.icon.dropdown
                  .menu
                    .item Project
                    .item Group
              %button.ui.button.icon.has-popup#dead-projects{data-content: "Click to show deleted content."}
                %i.icon.trash.outline.large.grey
        .body
          .new-row
            .ui.labeled.button
              %a.ui.button.green
                %i.icon.plus
                New
              .ui.dropdown.label{style: "background-color: #00a632; color: #EEE;"}
                Project
                %i.icon.dropdown
                .menu
                  .item Project
                  .item Group
          .tree-container
            %table.tree
              %tbody
                %tr
                  %td.name.lvl1
                    %i.icon.folder.open.outline
                    OSS
                  %td.updated
                  %td.rel %span.admin admin
                %tr
                  %td.name.lvl2
                    %i.icon.book
                    Monocle
                  %td.updated Updated 2 weeks ago
                  %td.rel %span.collab collaborator
                %tr.dead
                  %td.name.lvl2
                    %i.icon.book
                    ScalaCSS
                  %td.updated Deleted 1 month ago
                  %td.rel %span.admin admin
                %tr
                  %td.name.lvl1
                    %i.icon.book
                    ShipReq
                  %td.updated Updated 3 days ago
                  %td.rel %span.admin admin

      #user-groups
        %h2.ui.header
          %i.icon.users
          .content
            Teams
            -# User groups
            .new-right
              %a.ui.button.green
                %i.icon.plus
                New
                -# New User Group
        .body
          .new-row
            %a.ui.button.green
              %i.icon.plus
              New
              -# New User Group
          .tree-container
            %table.tree
              %tbody
                %tr
                  %td.name.lvl1
                    %i.icon.users
                    Monocle dev
                  %td.members 8 users
                  %td.rel %span.member member
                %tr
                  %td.name.lvl1
                    %i.icon.users
                    OSS dev
                  %td.members 16 users
                  %td.rel %span.member member
                %tr
                  %td.name.lvl1
                    %i.icon.folder.open.outline
                    ShipReq
                  %td.members 3 users
                  %td.rel %span.admin admin
                %tr
                  %td.name.lvl2
                    %i.icon.users
                    Business Team
                  %td.members 1 user
                  %td.rel %span.admin admin
                %tr
                  %td.name.lvl2
                    %i.icon.users
                    Dev Team
                  %td.members 3 users
                  %td.rel %span.admin admin

      #invs
        %h2.ui.header
          %i.icon.envelope
          .content Invitations
        .body
          .ui.icon.message.yellow.invitation
            %i.icon.users
            .content
              .header
                = "@mate invited you to team "
                %a(href="#")Yeah bro
              %p
                whoop.
          .ui.icon.message.yellow.invitation
            %i.icon.users
            .content
              .header
                = "@mate invited "
                %a(href="#")ShipReq / Dev Team
                = " to team "
                %a(href="#")Yeah bro
              %p
                whoop.
          .ui.icon.message.yellow.invitation
            %i.icon.users
            .content
              .header
                = "@mate invited "
                %a(href="#")ShipReq / Dev Team
                = " to project "
                %span.no-link-entity Cool Stuff
              %p
                whoop.

      #inv-pages
        %h2.ui.header
          %i.icon.sign.in
          .content Invitation Pages
        .body
          .ui.icon.message.ip.positive
            %i.icon.users
            .content
              .header
                = "Invitation to team "
                %a(href="#")ShipReq / Dev Team
              %div.sub(style="margin-top:.5em; display:flex")
                %div(style="flex-grow:1")
                  %table
                    %tbody
                      %tr
                        %td Acceptences:
                        %td 0
                      %tr
                        %td Rejections:
                        %td 0
                      %tr
                        %td Password:
                        %td 0
                      %tr
                        %td Password failures:
                        %td 0
                      %tr
                        %td Status:
                        %td Enabled
                %div(style="align-self:flex-end; margin-left: 2rem")
                  %i.icon.toggle.on.big(style="cursor:pointer")

  :javascript
    $('.ui.dropdown').dropdown();
