!!! 5
%html
  %head
    -# %meta(http-equiv="refresh" content="1")
    %title CardBoard | ShipReq
    %script{src: "../node_modules/jquery/dist/jquery.min.js"}
    %link{href:  "../semantic/dist/semantic.min.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "../semantic/dist/semantic.min.js"}
    -# %link{href:  "../../Code/webapp-server/src/main/webapp/a/semantic.min.css", rel: "stylesheet", type: "text/css"}/
    -# %script{src: "../../Code/webapp-server/src/main/webapp/a/semantic.min.js"}
    :css
      body {padding:1rem}
      .ui.menu.inverted .ui.breadcrumb a {color: #63c0ff}
      .ui.menu.inverted .ui.breadcrumb a:hover {color: #9bf3ff}
      .ui.menu.inverted .ui.breadcrumb > i {color: #ddd; margin-left: 0.8em; margin-right: 0.8em;}

      #info {
        margin: 4rem 0;
      }
      #info td:nth-child(1) {
        white-space:nowrap;
      }
      #info td:nth-child(2) {
        width: 100%;
      }

      #menu .segment {
        display: flex;
        align-items:flex-end;
      }
      #menu .left {
        flex-grow:1;
        margin-right: 8ex;
      }
      #menu .right .button {
        margin-right:0!important;
      }

      /*
      .inline-perm {
        _color:#333;
        margin-left:1ex;
      }
      .inline-perm::before {
        content: '(';
      }
      .inline-perm::after {
        content: ')';
      }
      */
      .inline-perm {
        margin-left:1ex;
      }
      .inline-perm::before {
        content: '—';
        margin-right:1ex;
      }

      #header-row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom:1.25rem;
      }
      .header-right {
        float: right;
        padding-left: 4ex;
      }

      .tree-container {
        xborder: solid 1px red;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        _padding:0 2rem;
        _max-width: 100ex;
      }
      .tree {
        xborder: solid 1px red;
        color: #333;
        border-collapse: collapse;
        width: calc(100% + 2ex);
        margin-left:-1ex;
        margin-right:-1ex;
      }
      .tree td:not(:first-child) {
        padding-left:3rem;
        text-align: right;
      }
      .tree tr:not(:first-child) td {
        xborder-top:solid 1px #22242626;
      }
      .tree tr:hover td {
        background: #0088ff11;
        cursor:pointer;
      }
      .tree tr td:last-child {
        padding-right: 1ex;
      }
      .tree td {
        white-space: nowrap;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        vertical-align: middle;
      }
      .tree .name {
        xbackground: #ff000020;
        width: 100%;
        font-size: 1.5rem;
      }
      .tree .name i {
        margin-right: 0.4ex!important;
      }
      .tree .updated, .tree .members {
        color: #aaa;
        text-transform: lowercase;
      }
      .tree .lvl1 {
        padding-left: 1ex;
      }
      .tree .lvl2 {
        padding-left: 3.5ex;
      }
      .tree .rel {
        font-size: 1.1rem;
      }
      span.admin {
        color: green;
      }
      span.collab, span.member {
        color: #33b;
      }
      span.read-only {
        color: #963;
      }
      #dead-projects {
        margin-left: 2rem;
      }
      .dead td,
      .dead td a:not(:hover),
      .dead .updated,
      .dead .rel span {
        color:#bbb;
        text-decoration:line-through;
      }

      #access-ro td {
        padding-top:0.5em;
        padding-bottom:0.5em;
      }
      #access-ro .lvl1 {
        padding-left: 3ex;
      }
      #access-ro .lvl2 {
        padding-left: 5.5ex;
      }

      .hide {display:none}
      .invis {visibility:hidden}
      _i.icon.users {display:none}

      .family {
        display:flex;
        flex-direction:column;
        height:100%;
      }
      .family > .h {
        margin-bottom:1em;
      }
      .family > .b {
        flex-grow:1;
        min-height: 2em;
      }
      .family .tagtree {
        margin-left:2ex;
        margin-top:0.25em;
        margin-bottom:2em;
        padding-left:0;
      }
      .family .tagtree li.tag {
        xmargin-left:2ex;
        xmargin-bottom:1em;
      }
      .family .tagtree .button {
        margin:-0.5em 0 .5em 0!important;
      }
      .family .lvl1 {padding-left:3ex}
      .family .lvl2 {padding-left:6ex}
      .family .ui.dropdown .menu>.item {
        padding-top   :0.4em!important;
        padding-bottom:0.4em!important;
      }
      .tagtree ol {
        padding-left:6.5ex;
      }
      .tagtree li {
        list-style-type: none;
      }

      .family > .b > table {
        margin-left:4ex;
        width:calc(100% - 4ex);
        border-collapse:collapse;
        margin-bottom:1.25rem;
      }
      .family > .b > table tr:hover td {
        background: #0088ff11;
      }
      .family > .b > table td:last-child {
        padding:.25em 0;
      }
      .family > .b > table td:not(:nth-child(2)) {
        white-space: nowrap;
      }

      #access-ro .pending-inv {
        color:#c9621d;
      }
      .family table .inv {
        color:#c9621d;
        font-style:italic;
      }

      .ui.message > .content > .header {
        margin-bottom:1em;
      }
      .msg-controls {
        text-align:right;
        margin-top:1rem;
      }
      .msg-controls > * {
        margin:0 0 0 1.5rem !important;
      }

      .ip .comments {
        font-style:italic;
        margin-bottom: 1em;
      }
      .two-stats {
        display:flex;
        margin:0 4ex;
      }
      .two-stats > * {
        width:50%;
      }
      .ip .stats {
        border-collapse: collapse;
      }
      .ip .stats td:first-child {
        _padding-left:4ex;
        padding-right:1.6ex;
        _text-align:right;
      }

      .events {
        margin-top: 1em;
      }
      .events > ul {
        margin:0;
      }
      .events .when::after {
        content: ' — ';
      }

      .segment.action {
        display: flex;
        align-items:flex-end;
      }
      .segment.action .left {
        flex-grow:1;
        margin-right: 8ex;
      }
      .segment.action .right .button {
        margin-right:0!important;
      }

  %body

    %nav(style="margin-bottom:5rem")
      .ui.menu.borderless.fixed.inverted
        .item
          %img{src: "logo-only-dark2.svg"}

        .item
          .ui.breadcrumb
            %a.section{href: "member-home.html"} Projects
            %i.divider.icon.right.angle
            %a.section{href: "project-index.html"} CardBoard
            .ui.dropdown.inline
              &nbsp;
              %i.icon.dropdown
              .menu
                .item.active CardBoard
                .item ShipReq
            %i.divider.icon.right.angle
            .section // .active
              .ui.dropdown.inline
                Status
                &nbsp;
                %i.icon.dropdown
                .menu

        .right.menu

          .item#connected4(onclick="$('#connected4 > *').toggle()")
            %i.icon.large.plug.green(style="opacity:.7" title="connected")
            %i.icon.large.plug.red(style="opacity:1;display:none" title="disconnected")

          .item.ui.dropdown.simple
            @japgolly
            .menu
              %a.item{href: "member-account.html"} Account
              .item Send feedback
              .item Logout

    -# =============================================================================================
    .ui.container{style: "max-width: 723px! important"}

      %div(style="margin-top:6rem")

        %section
          .family
            %div.h
              .ui.horizontal.divider.header
                %h2 Access
            %div.b

              .ui.segment.raised#access-ro
                %table(style="margin-left:2ex")
                  %tbody
                    %tr
                      %td
                        %i.icon.user
                        You
                        %span.inline-perm %span.admin admin
                    %tr.pending-inv
                      %td
                        %i.icon.user
                        @zatt
                        %span.inline-perm
                          collaborator invitation sent
                    %tr
                      %td
                        %i.icon.folder.open.outline
                        ShipReq
                        %span.inline-perm %span.member member
                    %tr
                      %td.lvl1
                        %i.icon.users
                        Dev Team
                        %span.inline-perm %span.collab collaborator
                    %tr
                      %td.lvl2
                        %i.icon.user
                        @poop
                        %span.inline-perm %span.collab collaborator
                %div(style="text-align:right; margin-top:2rem")
                  %button.ui.button.blue(style="margin-right:0!important" onClick='toggle_access()')
                    %i.icon.edit
                    Edit

              .ui.segment.raised#access-rw(style="display:none")
                %table(style="width:100%; margin-bottom:1em")
                  %tbody
                    %tr
                      %td
                        %i.icon.user
                        You
                      %td
                        .ui.selection.dropdown
                          %i.icon.dropdown
                          .item %span.admin admin
                          .menu
                            .item %span.admin admin
                            .item %span.collab collaborator
                      %td
                        .ui.button.basic.negative.invis(style="white-space: nowrap; float:right; background:#fff!important;") %i.icon.trash(style="margin:0!important")
                    %tr.pending-inv
                      %td
                        %i.icon.user
                        @zatt
                      %td
                        .ui.selection.dropdown
                          %i.icon.dropdown
                          .item %span.collab collaborator
                          .menu
                            .item %span.admin admin
                            .item %span.collab collaborator
                        %span.inv(style="margin-left:2ex")
                          %i.icon.envelope
                          invitation will be sent
                      %td .ui.button.basic.negative(style="white-space: nowrap; float:right; background:#fff!important;") %i.icon.trash(style="margin:0!important")
                    %tr
                      %td
                        %i.icon.folder.open.outline
                        ShipReq
                      %td
                        .ui.selection.dropdown
                          %i.icon.dropdown
                          .item %span.member member
                          .menu
                            .item %span.admin admin
                            .item %span.member member
                      %td .ui.button.basic.negative(style="white-space: nowrap; float:right; background:#fff!important;") %i.icon.trash(style="margin:0!important")
                    %tr
                      %td.lvl1
                        %i.icon.users
                        Dev Team
                      %td
                        .ui.selection.dropdown
                          %i.icon.dropdown
                          .item %span.collab collaborator
                          .menu
                            .item %span.admin admin
                            .item %span.collab collaborator
                      %td .ui.button.basic.negative(style="white-space: nowrap; float:right; background:#fff!important;") %i.icon.trash(style="margin:0!important")
                    %tr
                      %td.lvl2
                        %i.icon.user
                        @poop
                      %td
                        -# %span.collab collaborator
                      %td
                        .ui.button.basic.negative.invis(style="white-space: nowrap; float:right; background:#fff!important;") %i.icon.trash(style="margin:0!important")
                %div
                  .ui.floating.labeled.icon.dropdown.button
                    %i.icon.plus
                    %span.text Add...
                %div(style="text-align:right; margin-top:2rem")
                  %button.ui.button.black.basic(style="margin-right:2em" onClick='toggle_access()')
                    %i.icon.remove
                    Close
                  %button.ui.button.green(style="margin-right:0!important" onClick='toggle_access()')
                    %i.icon.edit
                    Save

        .ui.segment.action(style="margin-top:3rem")
          .left
            %h4.ui.header Leave This Project
            %p
              Revoke your own access to this project.
              = " "
              If you do this and change your mind, you'll need an admin to invite you back.
          .right
            %button.ui.button.negative(style="white-space: nowrap; margin-right:2em")
              -# %i.icon.sign.out
              Leave This Project

        -# ==========================================================================================================================================

        %section(style="margin-top:5rem")
          .family
            %div.h
              .ui.horizontal.divider.header
                %h2 Invitations

          #header-row
            .header-left
              %a.ui.button.green
                %i.icon.plus
                New invitation page
              -# .ui.labeled.button
                %a.ui.button.green
                  %i.icon.plus
                  New
                .ui.dropdown.label{style: "background-color: #00a632; color: #EEE;"}
                  Invitation
                  %i.icon.dropdown
                  .menu
                    .item Invitation
                    .item Invitation page
            .header-right
              %span // this is important to prevent [.ui.header icon:only-child] affecting below
              %button.ui.button.icon.has-popup#dead-projects{data-content: "Click to show deleted content."}
                %i.icon.trash.outline.large.grey

          .ui.icon.message.ip.positive
            %i.icon.bullhorn(style="margin:0 2rem 0 0!important; font-size:2.5rem")
            .content
              .header
                = "Invitation to team "
                %a(href="#")ShipReq / Dev Team
                = " as "
                %span(style="color:red") admin
              %div.sub(style="margin-top:.5em")
                .comments
                  Hey there. These are some comments I left earlier.
                .two-stats
                  %div
                    %table.stats
                      %tbody
                        %tr
                          %td Acceptences:
                          %td 1
                        %tr
                          %td Rejections:
                          %td 0
                        %tr
                          %td Password:
                          %td yes
                        %tr
                          %td Password failures:
                          %td 0
                  %div
                    %table.stats
                      %tbody
                        %tr
                          %td Created by:
                          %td @voi
                        %tr
                          %td Created at:
                          %td 2 weeks ago
                        %tr
                          %td Expiration date:
                          %td 3 days from now
                        %tr
                          %td Status:
                          %td enabled
                .events
                  .h Latest activity
                  %ul
                    %li
                      %span.when 34 minutes ago
                      %span.what Accepted by @bob
                    %li
                      %span.when 34 minutes ago
                      %span.what Viewed by @bob
                    %li
                      %span.when 36 minutes ago
                      %span.what Attempted view from anonymous user
                    %li
                      %span.when 50 minutes ago
                      %span.what Password change by @matt
                    %li
                      More…
              .msg-controls
                -# Delete should be in the edit form for UX consistency
                -# .ui.button.negative
                  %i.icon.trash
                  Delete
                .ui.button.primary
                  %i.icon.edit
                  Edit
                %i.icon.toggle.on.big(style="cursor:pointer")

          .ui.icon.message.yellow
            %i.icon.user(style="margin:0 2rem 0 0!important; font-size:2.5rem")
            .content
              .header
                = "@bob is invited to team "
                %a(href="#")Yeah bro
                = " as "
                %span(style="color:red") admin
              .body
                %table.stats
                  %tbody
                    %tr
                      %td Created by:
                      %td @voi
                    %tr
                      %td Created at:
                      %td 2 weeks ago
                    %tr
                      %td Expiration date:
                      %td 3 days from now
                .msg-controls
                  .ui.button.negative
                    %i.icon.close
                    Revoke
          -# %div.b(style="margin-top:1.5rem")
            .ui.floating.labeled.icon.dropdown.button
              %i.icon.plus
              %span.text Invite...
            .ui.floating.labeled.icon.dropdown.button(style="margin-left:2ex")
              %i.icon.plus
              %span.text New invitation page...


  :javascript
    $('.ui.dropdown').dropdown();
    $('.omg-dimmable').dimmer({on: 'hover'});

    function toggle_access() {
      $('#access-ro,#access-rw').toggle();
    }
    toggle_access()